*{
    margin: 0;
    padding: 0;
}
header{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 .1em 1em lightgray;
    width: 100%;
}
body{
    background-color: hsl(0, 0%, 98%);
}
.info1{
    width: 100%;
    display: grid;
    grid-template-rows: 7fr 3fr;
}
.info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2em;
    margin-top:7%;
}
img{
    width: 70%;
}
.back{
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    
    border: none;
    outline: none;
    border-radius: .3em;
    cursor: pointer;
    box-shadow: .2em .2em 1em lightgray;
    margin-left: 2em;
    margin-top: 3em;
}
a{
    padding: 2em;
    margin-bottom:2em;
    text-decoration: none;
    color: black;
}

@media (max-width: 650px) {
    .info{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 2em;
        margin-top:7%;
    }
}